{% extends "layout.html" %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Aktive Clients</h1>

    <h2 class="sub-header">Gerade aktiv</h2>

    {% if clients %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>MAC</th>
                <th>IPv4</th>
                <th>Gesehen</th>
                <th>Hostname</th>
            </tr>
            </thead>
            <tbody>

            {% for client in clients %}
            <tr>
                <td>{{ client.hostname|safe }}</td>
                <td>{{ client.seen }}</td>
                <td>{{ client.ipv4 }}</td>
                <td>{{ client.mac }}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    {% else %}
    <p class="lead">Gerade ist <em>niemand</em> im Lab.</p>
    {% endif %}
</div>
{% endblock %}
